.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 15px 7%;
  transition: 0.5s;
}
.logo {
  width: 160px;
  cursor: pointer;
}
ul {
  flex: 1;
  list-style: none;
  text-align: center;
}
ul li {
  display: inline-block;
  margin: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
.toggle-icon {
  width: 50px;
  cursor: pointer;
  margin-left: 40px;
}
.search-box {
  display: flex;
  align-items: center;
  background: white;
  padding: 10px 20px;
  border-radius: 50px;
}
.search-box input {
  padding: 6px;
  background: transparent;
  border: 0;
  outline: 0;
  color: black;
  font-size: 18px;
  max-width: 200px;
}
.search-box input::placeholder {
  color: black;
}
.search-box img {
  width: 20px;
  cursor: pointer;
}
.dark .navbar {
  color: #fff;
}
.dark .search-box {
  background: #fff;
}
.dark .search-box input {
  color: #222;
}
.dark .search-box input::placeholder {
  color: #222;
}
.LoginBtn {
  width: 6%;
  height: 40px;
  background: #222;
  margin: 15px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.LoginBtn {
  background: #fff;
  color: #222;
  cursor: pointer;
}
.RegisterBtn {
  background: white;
  color: #222;
  cursor: pointer;
}
.RegisterBtn {
  width: 8%;
  height: 40px;
  background: white;
  margin: 15px;
  color: black;
  border-radius: 10px;
  cursor: pointer;
}
