.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

h2 {
  margin-bottom: 20px;
}

.registerForm {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.registerForm input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.registerForm button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.registerForm button:hover {
  background-color: #0056b3;
}

button {
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
}

button:hover {
  background-color: #0056b3;
}
