:root{
 background: #222;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container{
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(232, 232, 255);
  transition: 0.5s;
}
.container.dark{
  background: #222;
}
.footer{
  color: black;
}
.dark .footer{
  background-color: black;
  color: white;
}